:root {
  --color-white-rock: #e5e3cb;
  --color-faded-jade: #428b8b;
  --color-salmon: #fd926a;
  --color-thunderbird: #cd391b;
  --color-ferra: #5c4943;
  --color-grandis: #ffd68b;
  --color-white: #fff;
  --color-gray: #e2e2e2;
  --color-gray-light: #f0f0f0;
  --font-family-content: "Mukta", sans-serif;
  --font-family-title: "Glory", sans-serif;
}

body {
  background: var(--color-white-rock);
}

/* TODO: EL CONTENIDO DE LA SECCION INFO, CUANDO HAYA QUE MERGEAR */

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 50px;
  color: var(--color-ferra);

  & .info-title-text {
    font-family: var(--font-family-title);
    font-size: 45px;
    font-weight: bold;
  }

  & .info-description {
    margin: auto;
    width: 50%;
    font-family: var(--font-family-content);
    font-size: 30px;
  }
}

.info-card-container {
  display: flex;
  flex-direction: row;
  align-self: center;
  width: 50%;
  height: 100%;
  margin-top: 50px;
  padding: 10px;
  background-color: var(--color-white);
  border-radius: 10px;
  font-family: var(--font-family-content);
}

.card-image {
  background: var(--color-white);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 10px 20px 0 10px;
  width: 30%;

  & img {
    border-top-left-radius: 10px;
    box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 40%);
    width: 100%;
  }
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 15px 15px 0;
  width: 70%;

  & .title-recipee {
    font-size: 30px;
    margin: 0;
  }

  & .recipee {
    text-align: start;
    margin-bottom: 10px;
    font-size: 20px;
  }
}

.nutritional-info-container {
  display: flex;
  flex-direction: row;
  background: var(--color-gray-light);
  width: 100%;

  & .kcal-box {
    display: flex;
    justify-content: center;
    width: 150px;
    margin: 10px;
    background: var(--color-gray);
    color: var(--color-ferra);

    & span {
      justify-self: center;
      align-self: center;
      font-size: 25px;
    }
  }

  & .nutritional-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 20px;
    padding: 10px;
  }
}

.quote {
  display: flex;
  justify-content: flex-start;
  align-self: center;
  width: 50%;
  font-family: var(--font-family-content);
}

/* TODO: HASTA AQUI EL CONTENIDO DE INFO */

/* Pantallas pequeñas (teléfonos) XS */
@media screen and (width <= 767px) {
  /* Estilos para pantallas pequeñas */
}

/* Pantallas medianas (tabletas pequeñas y algunos ordenadores portátiles) SM */
@media screen and (width >= 768px) and (width <= 1023px) {
  /* Estilos para pantallas medianas */
}

/* Pantallas grandes (ordenadores de escritorio) MD */
@media screen and (width >= 1024px) {
  /* Estilos para pantallas grandes */
}

/* Pantallas extra grandes (monitores grandes) LG */
@media screen and (width >= 1200px) {
  /* Estilos para pantallas extra grandes */
}

/* Pantallas 4K y superiores (resoluciones ultra altas) XL */
@media screen and (width >= 2560px) {
  /* Estilos para pantallas 4K y superiores */
}

/* SLIDER */
:root {
  --slide-transform: 0;
  --transition: transform 1s;
  --footer-height: 150px;
  --lateral-margin: 24px;
  --slider-element-heigth: 300px;
}

img {
  max-width: 100%;
}

.slider-container {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  border: 4px solid #fff;
  overflow: hidden;
}

.slider {
  display: flex;
  transform: translateX(var(--slide-transform));
  transition: var(--transition);
}

.slider__element {
  min-width: 100%;
  height: var(--slider-element-heigth);
  font-size: 3rem;
  text-align: center;
  line-height: 300px;
}

.slider-buttons {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
}

.button {
  background: none;
  border: none;
  background-color: grey;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  color: #fff;
}

.button:active {
  transform: scale(0.9);
}

.footer {
  display: flex;
  min-height: var(--footer-height);
  background-color: red;
  padding-left: var(--lateral-margin);
  padding-right: var(--lateral-margin);
}

.footer__copyright {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: end;
}

.footer__contact{

}

.footer__follow{

}
