:root {
  --color-grandis: #ffd68b;
  --color-white-rock: #e5e3cb;
  --color-faded-jade: #428b8b;
  --color-salmon: #fd926a;
  --color-thunderbird: #cd391b;
  --color-ferra: #5c4943;
  --color-white: #fff;
  --color-gray: #e2e2e2;
  --color-gray-light: #f0f0f0;
  --font-family-content: "Mukta", sans-serif;
  --font-family-title: "Glory", sans-serif;
  --font-size-xs: 1rem;
  --font-size-sm: 1.1rem;
  --font-size-md: 1.3rem;
  --font-size-ns: 1.5rem;
  --font-size-normal: 1.8rem;
  --font-size-nl: 2rem;
  --font-size-lg: 3rem;
  --font-size-xl: 5rem;
  --slide-transform: 0;
  --slider-size: 500px;
  --transition: transform 1s;
  --footer-height: 150px;
  --lateral-margin: 24px;
  --slider-element-heigth: 300px;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  background: var(--color-white-rock);
  margin: 0;
  padding: 0;
}

/* TODO: NAVBAR */

.hidden {
  display: none;
}

.header-container {
  position: fixed;
  top: 0;
  z-index: 5;
  width: 100%;
  box-sizing: border-box;
  background-color: var(--color-faded-jade);
  font-size: var(--font-size-xs);
  padding: 20px 30px;
  border-top: 6px solid var(--color-grandis);
  display: flex;
  justify-content: space-between;
  align-items: center;

  & .company-name {
    font-family: var(--font-family-content);
    font-size: var(--font-size-nl);
    background: linear-gradient(to right, var(--color-grandis) 0%, var(--color-salmon) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  & .navbar-list {
    font-size: var(--font-size-xs);
    position: absolute;
    top: 85px;
    left: 0;
    background-color: var(--color-faded-jade);
    box-sizing: border-box;
    width: 100%;
    height: auto;
    max-height: 0;
    transition: max-height 0.6s ease-out;
    letter-spacing: 0;
    line-height: 28px;
    overflow: hidden;

    & li {
      padding: 20px 30px;

      & .navbar-links {
        font-family: var(--font-family-content);
        text-decoration: none;
        font-weight: bold;
        color: var(--color-white);
        display: inline-block;

        &::after {
          bottom: 0;
          content: "";
          display: block;
          height: 2px;
          left: 50%;
          position: relative;
          background: var(--color-salmon);
          transition: width 0.3s ease 0s, left 0.3s ease 0s;
          width: 0;
        }

        &:hover::after {
          width: 100%;
          left: 0;
        }
      }
    }
  }
}

.button-go-app {
  font-family: var(--font-family-content);
  background-color: var(--color-grandis);
  color: var(--color-ferra);
  padding: 5px 20px;
  border: 0;
  border-radius: 25px;
  text-wrap: nowrap;

  &:hover {
    background-color: var(--color-salmon);
    color: var(--color-white);
    transition: all 0.3s ease 0s, left 0.3s ease 0s;
  }
}

.icon-bars span {
  display: block;
  width: 28px;
  height: 3px;
  margin-bottom: 7px;
  background: var(--color-white);
  transform-origin: 3px 0;
  transition: transform 0.5s ease, opacity 0.55s ease;

  &:first-child {
    transform-origin: 0% 0%;
  }

  &:nth-child(3) {
    transform-origin: 0% 100%;
  }
}

#menu-input {
  &:checked ~ .navbar-list {
    max-height: 100vh;
    transition: max-height 0.25s ease-in;
  }

  /* movimiento a cruz */
  &:checked ~ label span:nth-child(1) {
    opacity: 100%;
    transform: rotate(45deg) translate(1px, 1px);
  }

  &:checked ~ label span:nth-child(2) {
    opacity: 0%;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  &:checked ~ label span:nth-child(3) {
    transform: rotate(-45deg) translate(0, 0);
  }
}

@media screen and (width >= 768px) {
  .header-container {
    padding: 10px 30px;

    & .company-name {
      font-size: var(--font-size-lg);
      padding: 0 30px;
    }

    & .icon-bars {
      display: none;
    }

    & .navbar-list {
      position: initial;
      display: flex;
      align-items: center;
      max-height: 100%;
      font-size: var(--font-size-sm);
    }
  }
}

@media screen and (width >= 2560px) {
  .header-container .navbar-list {
    font-size: var(--font-size-ns);
  }
}

/* TODO : FIN NAVBAR */
.wrap {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, rgb(255 255 255 / 50%), rgb(255 255 255 / 50%)), url("./assets/home.jpg");
  background-size: cover;
  background-position: center;
  padding: 40px;

  & .wrap-text {
    text-align: center;
    text-shadow: 0 0 2px rgb(255 255 255 / 60%);

    /* width: 50%; */

    & .title-home {
      padding: 30px 0;
      color: var(--color-ferra);
      font-family: var(--font-family-title);
      font-size: var(--font-size-lg);
      font-weight: bold;
    }

    & .text-home {
      padding: 0 0 30px;
      color: var(--color-ferra);
      font-family: var(--font-family-title);
      font-size: var(--font-size-ns);
      font-weight: bold;
    }

    & .button-home {
      background-color: var(--color-grandis);
      border-radius: 25px;
      padding: 10px;
      box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
      font-family: var(--font-family-title);
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 18px;
    }
  }
}

@media screen and (width >= 1024px) {
  .wrap .wrap-text {
    width: 60%;
  }
}

@media screen and (width >= 2560px) {
  /* Estilos para pantallas 4K y superiores */
  .wrap .wrap-text {
    & .title-home {
      font-size: var(--font-size-xl);
    }

    & .text-home {
      font-size: var(--font-size-lg);
    }

    .button-go-app {
      font-size: var(--font-size-normal);
    }
  }
}

/* Comienza el contenido de Cards */
.info-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 50px;
  color: var(--color-ferra);

  & .cards-title-text {
    font-family: var(--font-family-title);
    font-size: 45px;
    font-weight: bold;
  }

  & .cards-description {
    margin: auto;
    width: 50%;
    font-family: var(--font-family-title);
    font-size: 30px;
  }
}

.cards-container {
  display: flex;
  justify-content: space-between;
  padding: 0 200px;
  margin-top: 50px;
}

.cards-square {
  width: 30%;
  padding: 10px;
  background-color: #428b8b;
  border-radius: 10px;
  text-align: center;

  & .cards-text-title2 {
    font-family: var(--font-family-title);
    font-size: 25px;
    font-weight: bold;
    color: #ffd68b;
  }

  & .cards-text-body {
    margin: auto;
    width: 90%;
    font-family: var(--font-family-content);
    font-size: 20px;
    color: #ffd68b;
  }
}

/* Acaba el contenido de Cards */

/* TODO: EL CONTENIDO DE LA SECCION INFO, CUANDO HAYA QUE MERGEAR */

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 50px;
  color: var(--color-ferra);

  & .info-title-text {
    font-family: var(--font-family-title);
    font-size: 45px;
    font-weight: bold;
  }

  & .info-description {
    margin: auto;
    width: 50%;
    font-family: var(--font-family-content);
    font-size: 30px;
  }
}

.info-card-container {
  display: flex;
  flex-direction: row;
  align-self: center;
  width: 50%;
  height: 100%;
  margin-top: 50px;
  padding: 10px;
  background-color: var(--color-white);
  border-radius: 10px;
  font-family: var(--font-family-content);
}

.card-image {
  background: var(--color-white);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 10px 20px 0 10px;
  width: 30%;

  & img {
    border-top-left-radius: 10px;
    box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 40%);
    width: 100%;
  }
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 15px 15px 0;
  width: 70%;

  & .title-recipee {
    font-size: 30px;
    margin: 0;
  }

  & .recipee {
    text-align: start;
    margin-bottom: 10px;
    font-size: 20px;
  }
}

.nutritional-info-container {
  display: flex;
  flex-direction: row;
  background: var(--color-gray-light);
  width: 100%;

  & .kcal-box {
    display: flex;
    justify-content: center;
    width: 150px;
    margin: 10px;
    background: var(--color-gray);
    color: var(--color-ferra);

    & span {
      justify-self: center;
      align-self: center;
      font-size: 25px;
    }
  }

  & .nutritional-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 20px;
    padding: 10px;
  }
}

.quote {
  display: flex;
  justify-content: flex-start;
  align-self: center;
  width: 50%;
  font-family: var(--font-family-content);
}

/* TODO: HASTA AQUI EL CONTENIDO DE INFO */

/* Pantallas medianas (tabletas pequeñas y algunos ordenadores portátiles) SM */
@media screen and (width >= 768px) {
  /* Estilos para pantallas pequeñas */
}

/* Pantallas grandes (ordenadores de escritorio) MD */
@media screen and (width >= 1024px) {
  /* Estilos para pantallas grandes */
}

/* Pantallas extra grandes (monitores grandes) LG */
@media screen and (width >= 1200px) {
  /* Estilos para pantallas extra grandes */
}

/* Pantallas 4K y superiores (resoluciones ultra altas) XL */
@media screen and (width >= 2560px) {
  /* Estilos para pantallas 4K y superiores */
}

/* SLIDER */
img {
  max-width: 100%;
}

.slider-container {
  position: relative;
  width: var(--slider-size);
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.slider {
  display: flex;
  width: var(--slider-size);
  transform: translateX(var(--slide-transform));
  transition: var(--transition);
}

.slider__element {
  min-width: 100%;
  height: var(--slider-element-heigth);
  font-size: 3rem;
  text-align: center;
  line-height: 300px;
}

.slider-buttons {
  position: absolute;
  height: 100px;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
}

.slider-buttons--left {
  clip-path: polygon(0 0, 100% 15%, 100% 79%, 0 99%);
  top: 50%;
  transform: translateY(-50%);
}

.slider-buttons--right {
  clip-path: polygon(0 11%, 100% 0, 100% 100%, 0 87%);
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}

.button {
  --button-size: 35px;

  background: none;
  border: none;
  background-color: var(--color-ferra);
  width: var(--button-size);
  height: calc(var(--button-size) + 40px);
  cursor: pointer;
  color: var(--color-gray);
  font-size: 1.5rem;
}

.footer {
  display: flex;
  min-height: var(--footer-height);
  background-color: var(--color-faded-jade);
  padding-left: var(--lateral-margin);
  padding-right: var(--lateral-margin);
  color: var(--color-gray);
}

.rrss {
  display: flex;
}

.github {
  width: 50px;
}

.footer__copyright {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: end;
}
